@page "/Ingest"
@using System.Net.Http.Headers
@using Microsoft.AspNetCore.SignalR.Client
@using System.Text.Json
@using Client.Models
@using Shared

@inject HttpClient Http
@inject HubConnection HubConnection

@implements IAsyncDisposable

<PageTitle>Ingest</PageTitle>

<h1>Ingest</h1>

<p>
    <button type="button" class="btn btn-danger" @onclick=PurgeIndex>Purge Index</button>
</p>

<p>
    Upload files (txt,pdf):
    <InputFile OnChange="@OnInputFileChange" multiple accept=".txt,.pdf" />
</p>

@if (showIngestMsg)
{
    <small>Please wait while ingesting files...</small>
    <br />
    <br />
}

@if (files.Count > 0)
{
  
    @foreach (var file in files)
    {
        <div class="card">
            <div class="card-body">
                <b>@file.Name</b>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: @file.PerecentProcessed%"></div>
                </div>
            </div>
        </div>
    }
}

@code {
    private List<File> files = new();
    bool showIngestMsg;

    protected override async Task OnInitializedAsync()
    { 
        await HubConnection.StartAsync();

            HubConnection.On<FileProgress>(nameof(IBYODataHub.AlertFileProcess), data =>
        {
            var file = files.ElementAt(data.FileUploadIndex);
            file.PerecentProcessed = data.PercentProcessed;

            StateHasChanged();
        });  
    }

    private async Task PurgeIndex()
    {
        var response = await Http.PostAsync("/chat/purgeindex", null);
    }

    private async Task OnInputFileChange(InputFileChangeEventArgs e)
    {
        files.Clear();
        showIngestMsg = true;
        long maxFileSize = 1024 * 1024 * 15; // 15 MB

        var filesFromInput = e.GetMultipleFiles(int.MaxValue);

        for (int i = 0; i < filesFromInput.Count; i++)
        {
            var file = filesFromInput.ElementAt(i);
            files.Add(new() { Name = file.Name });
        }

        for (int i = 0; i < filesFromInput.Count; i++)
        {
            var fileToIngest = filesFromInput.ElementAt(i);

            var fileContent = new StreamContent(fileToIngest.OpenReadStream(maxFileSize));
            fileContent.Headers.ContentType = new MediaTypeHeaderValue(fileToIngest.ContentType);

            using var content = new MultipartFormDataContent();

            content.Add(fileContent, "File", fileToIngest.Name);
            content.Add(new StringContent(i.ToString()), "FileUploadIndex");

            var response = await Http.PostAsync("/chat/ingestdata", content);

            StateHasChanged();
        }

        showIngestMsg = false;

    }

    public async ValueTask DisposeAsync()
    {
        if (HubConnection is not null)
        {
            await HubConnection.StopAsync(); 
            // DisposeAsync causing errors? 
        }
    }
}