@page "/Ingest"
@using System.Net.Http.Headers
@using System.Text.Json
@using Client.Models
@using Client.Helpers
@using Shared

@inject CustomHttpClient CustomHttpClient
@inject CustomSweetAlertService CustomSweetAlertService

<PageTitle>Ingest</PageTitle>

<h1>Ingest</h1>

<p>
    <button type="button" class="btn btn-danger" @onclick=PurgeIndex>Purge Index</button>
</p>

<p>
    Upload files (txt,pdf):
    <InputFile OnChange="@OnInputFileChange" multiple accept=".txt,.pdf" />
</p>

@if (files.Count > 0)
{
    if (filesProcessed < files.Count)
    {
        <small>Please wait while ingesting files...</small>
        <small>@filesProcessed/@files.Count</small>
        <br />
        <br />
    }

    @foreach (var file in files)
    {
        <div class="card">
            <div class="card-body">
                <b>@file.Name</b>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: @file.PerecentProcessed%"></div>
                </div>
            </div>
        </div>
    }
}

@code {
    private List<File> files = new();
    int filesProcessed = 0;

    private async Task PurgeIndex()
    {
        var responseError = await CustomHttpClient.Post<bool>("/chat/purgeindex", null);
        if (!responseError)
        {
            await CustomSweetAlertService.Success("Purged Index");
        }
        else
        {
            await CustomSweetAlertService.Error("Validate Index in Azure AI Search portal.");
        }
    }

    private async Task OnInputFileChange(InputFileChangeEventArgs e)
    {
        files.Clear();
        long maxFileSize = 1024 * 1024 * 15; // 15 MB

        var filesFromInput = e.GetMultipleFiles(int.MaxValue);

        for (int i = 0; i < filesFromInput.Count; i++)
        {
            var file = filesFromInput.ElementAt(i);
            files.Add(new() { Name = file.Name });
        }

        for (int i = 0; i < filesFromInput.Count; i++)
        {
            var fileToIngest = filesFromInput.ElementAt(i);
            var file = files.ElementAt(i);

            var fileContent = new StreamContent(fileToIngest.OpenReadStream(maxFileSize));
            fileContent.Headers.ContentType = new MediaTypeHeaderValue(fileToIngest.ContentType);

            using var content = new MultipartFormDataContent();

            content.Add(fileContent, "File", fileToIngest.Name);

            await foreach (var fileProgress in CustomHttpClient.PostStream<FileChunkProgress>("/chat/ingestdata", content))
            {
                file.PerecentProcessed = fileProgress.PercentProcessed;
                StateHasChanged();
            }

            filesProcessed++;
        }
    }
}